<h1>High Scores</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Question</th>
  </tr>
  <% @scores.each do |s| %>
    <tr>
      <td> <%= s.name %> </td>
      <td> <%= s.value %> </td>
    </tr>
  <% end %>
</table>