<html>
  <head>
    <title>tHIS IS A wEBSITE</title>
    <link rel="stylesheet" href="../css/layout.css">
  </head>
  <body>
  <nav>
    <div>
      <ul id="navi">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/stars">Stars</a></li>
        <li><a href="/questions">Question</a></li>
      </ul>
    </div>
  </nav>
    <div class="main">
      <div>wHAT A bEAUTIFUL sIGHT</div>
      <fieldset>
        <legend></legend>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
        <% end %>
        <%= yield %>
      </fieldset>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </body>
  <footer>
    <%= Time.now.asctime %>
  </footer>
  <script>
    $('document').ready(function() {
      setTimeout(function() {
        $('.alert').slideUp();
      }, 3000);
    });
  </script>
</html>