header, nav, footer, .main {
    flex: 1 100%;
}

#navi {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

#navi li {
    display: inline;
}

#navi li a {
    text-decoration: none;
    color: black;
    padding: 0px 2% 0px 2%;
}

.main {

}

#navi li a:hover {
    text-decoration: line-through;
}

#banner {
    width: 100%;
}

th {
    text-align: left;
}

th, td {
    padding: 0 10 0 10;
}

.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main { flex: 2 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}